// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--blue: #2d6ed1; // Site main color - (Основний колір сайту)
	--pink: #fd3b9a; // Site secondary color - (Додатковий колір сайту)
	--blue2: #1b437d; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
	
}
