// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
	
}
// Спойлер
.spollers__item {
	font-size: rem(20);
}
// Заголовок спойлера
.spollers__title {
	text-transform: uppercase;
	text-align: left;
	width: 100%;
	cursor: default;
	border-radius: rem(5);
	padding-right: 15px;
	position: relative;
	&:hover{
		color: #1b437d;
	}
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: -15px;
			top: 50%;
			background-color: #fff;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
			&:hover{
				background-color: #1b437d;
			}
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}
// Контент спойлера
.spollers__body {
	height: 200px;
}
.spollers__list{
	height: 100%;
	display: flex;
	flex-direction: column;
	//padding: 15px;
	justify-content: space-evenly;
}
.spollers__link{
	padding: 10px;
	background: #fd3b9a;
	position: relative;
	.spollers__link_a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	 }
	&:hover{
		background: #fff;
		color: black;
	}
}
