.tabs {
	// .tabs__navigation
	&__navigation {
		background: #fff;

		display: flex;
	}
	// .tabs__title
	&__title {
		border: 1px solid #eee;
		padding: rem(10) rem(15);
		border-radius: rem(5);
		&._tab-active{
			color: #fff;
			background: #2d6ed1;
		}
	}
	// .tabs__content
	&__content {
		border: 1px solid #eee;
		padding: rem(10) rem(15);
	}
	// .tabs__body
	&__body {
	}
	
}
