//====================================================================================================
.footer{
	.footer__block{
		display: flex;
		justify-content: center;
		img{
			backdrop-filter: blur(2px);
			width: 300px;
		}
		
	}
	p{
		text-align: center;
		padding: 20px 0;
	}
}

//====================================================================================================
