//====================================================================================================
.wrapper{
	background-image: url("../img/bg.png");
}
.page{
	
}
.first__container {

}
.first__row{
	display: flex;
	
	justify-content: space-around;
}
.first__left {
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.first__title{
	backdrop-filter: blur(5px);
	line-height: 130%;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	span{
		color: #fd3b9a;
	}
}
.first__button {
	background: #fd3b9a;
	padding: 30px;
	font-size: 30px;
	color: white;
	text-transform: uppercase;
	animation: breth 2s;
	&:hover{
		transition: .2s;
		background: #2d6ed1;
	}
}

.first__right {
	position: relative;
}
.first__img {
	padding-top: 30px;
	width: 500px;

}
.links__block{
	width: 100%;
	height: 100%;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(50%,-50%);
}
.first__row{
	width: 100%;
	height: 100%;
	position: relative;
}
.first__link {
	background: #2d6ed1;
	padding: 35px;
	font-size: 20px;
	color: white;
	border-radius: 300px;
	position: absolute;
	&:hover{
		transition: .2s;
		background: #fd3b9a;
	}
}
.first__link1{
	left: -50px;
	bottom: 100px;
	
}
.first__link2{
	left: 10px;
	bottom: 0;
}
.first__link3{
	right: -110px;
	bottom: 100px;
}

.first__link4{
	right: 10px;
	bottom: 0px;
}
.first__link5{
	left: 10px;
	bottom: 0px;
}


//====================================================================================================
	.uslugi{
		padding: 100px 0;
		
	}
	.uslugi__container {
		backdrop-filter: blur(1px);
	}

	.uslugi__title {
		
	}
	.tabs {
	}
	.tabs__navigation {
		font-size: 25px;
	}
	.tabs__title {
	}
	._tab-active {
	}
	.tabs__content {
	}
	.tabs__body {
		// display: flex;
		img{
			height: 500px;
		}
		
		li{
			list-style:circle;
			font-size: 23px;
			text-transform: capitalize;
			padding: 5px 0;
		}
	}
	.tabs__row{
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
//====================================================================================================
.why {
	background: #fd3b999a;
	padding-bottom: 100px;
	color: #fff;
	opacity: 0;
	transform: translateX(-100px);	
	transition: .5s;

}
._watcher-view{
	transition: .5s;
	transform: translateX(0px);	
	opacity: 1;
}
.why__title {
	padding-top: 50px;
}
.title {
}
.why__row {
	display: flex;
	justify-content: space-evenly;
}
.why__item {
	flex: 1 0 25%;

	text-align: center;
	p{
		padding-top: 20px;
		font-size: 25px;
	}
	img{
		border-radius: 10px;
		height: 200px;
	}
}

//====================================================================================================
.doctors {
	padding: 80px 0;
}
.doctors__container {
	background: #2d6fd167;
	backdrop-filter: blur(5px)
}
.doctors__title {
	padding-top: 20px;
}

.doctors__row {
}

.doc {
	.doc__navigation {
		img{
			width: 200px;
		}
		font-size: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.doc__title {
		flex: 1 0 33%;

		text-transform: uppercase;
		background: #2d6fd167;
		border: 3px solid #eeeeee83;
		padding:15px;
		border-radius: rem(5);
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
		height: 450px;
		&._tab-active {
		}
	}
	.doc__content {
		padding: rem(10) rem(15);
	}
	.doc__body {
	}
	._tab-active{
		color: #fff;
		background: #2d6ed1;
	}
}
.doc__body{
	span{
		color: #2d6ed1;
	}
	h2{
		padding: 30px 0;
		font-size: 25px;
		font-weight: bold;
	}
	h3{
		
		padding: 10px 0;
		font-size: 25px;
	}
	p{
		font-size: 20px;
	}
	ul{
		padding: 30px ;
		font-size: 25px;
		li{
			list-style:decimal;
			margin-left: 30px;
			padding-top: 10px;
			font-size: 20px;
		}
	}
}
.doc2__row{

	 a{
		img{
		padding-right: 10px;
		padding-top: 10px;
		width: 150px;
		height: 150px;
	}
}
}
.doc1__row{

	img{
		padding-right: 10px;
		padding-top: 10px;
		width: 150px;
		height: 150px;
		transform: rotate(-90deg);
	}
}
//====================================================================================================
.works{
background: #2d6fd151;
padding: 20px 0;
margin-bottom: 150px;
}
.works__slider{
	height: 300px;
}
.works__slide{
	img{
		padding: 20px;
		max-height:  250px;
	}
}
//====================================================================================================


.usluga {
	padding-top: 100px;
	padding-bottom: 300px;
}
.usluga__container {
	backdrop-filter: blur(10px);

}
.usluga__title {
font-size: 40px;
}
.usluga__mainBlock {
	cursor: default;
	padding: 50px;
	background: #fd3b9937;
	ol{
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		li{
			text-align: left;
			display: flex;
			justify-content: space-between;
			padding: 10px 5px ;
			&:hover{
				background: #fd3b9937;
			}
			&:has(ol){
				background: #fd3b9937;

			}
		}
		font-size: 30px;
		ul{
			width: 100%;
			li{
					
					
					padding-left: 20px;
					&:last-child{
						padding: 0;
						padding-left: 20px;

					}
			}
		
		}
		
	}
	
}
.usluga__doc{
	padding-top: 50px;
	display: flex;
	justify-content: space-evenly;
	img{
		max-height: 500px;
	}
	.p123{
		padding-top: 200px;
		margin-left: -300px;
	}
	.m123{
		padding-top: 300px;
		margin-left: -300px;

	}
	.k12{
		margin-left: 10px;
	}
}
//====================================================================================================

//====================================================================================================

//====================================================================================================
