//====================================================================================================
body{
	background-image: url("../img/bg.png");
}

button{
	font-family: "Exo 2";
}
.page{
	
}
.first {
	margin-top: 100px;
}
.first__row{
	display: flex;
	
	justify-content: space-around;
}
.first__left {
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.first__title{
	backdrop-filter: blur(1px);
	line-height: 130%;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	span{
		color: #fd3b9a;
	}
}
.first__button {
	background: #fd3b9a;
	padding: 30px;
	font-size: 30px;
	color: white;
	text-transform: uppercase;
	animation: breth 2s;
	&:hover{
		transition: .2s;
		background: #2d6ed1;
	}
}

.first__right {
	padding-top: 0px;
	position: relative;
}
.first__img {
	padding-top: 30px;
	height: 400px;
}
.links__block{
	width: 100%;
	height: 100%;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(50%,-50%);
}
.first__row{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.first__link {
	background: #2d6ed1;
	padding: 35px;
	font-size: 20px;
	color: white;
	border-radius: 300px;
	position: absolute;
	&:hover{
		transition: .2s;
		background: #fd3b9a;
	}
}
.first__link1{
	left: 60px;
	bottom: 200px;
	
}
.first__link3{
	right: 10px;
	bottom: 240px;
}

.first__link4{
	right: -100px;
	bottom: 50px;
}
.first__link5{
	left: 10px;
	bottom: 20px;
}
.first__link6{
	bottom: -85px;
	left: 180px;
}


.first__bot {
	margin-top: 200px;
	background: #2d6ed1;
	color: #fff;
	border-radius: 20px;
	display: flex;
	justify-content: end;
	img{
		border-radius: 20px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		height: 100%;
		@include adaptiveValue('width',650,300)
	}
	h2{
		padding: 15px;
		font-weight: lighter;
		position: relative;
		font-size: 35px;
		&::after{
			top: 55%;
			left: 200px;
			content: "";
			position: absolute;
			width: 70%;
			height: 2px;
			background: #fff;
		}
	}
	h3{
		padding: 15px ;
		font-size: 30px;
	}
	p{
		padding: 15px;
		font-size: 20px;
		padding-bottom: 0;
	}
}
.popup {
}
.popup__wrapper {
}
.popup__content {
}
.popup__text {
}
.form-group {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0;
}
.form-label {
	color: #2d6ed1;

	font-size: 35px;
	span{
		font-size: 20px;
		opacity: 0.4;
	}
}
.form-control {
	background: #fd3b9958;
	font-size: 25px;
	text-align: center;
	height: 30px;
	width: 50%;
	&:hover{
		background: #fd3b999f;
	}
	&:focus{
		background: #fd3b99d0;
	}
}
.tg {
	p{
		padding: 20px 0;
		font-size: 35px;
		text-align: center;
	}
}
.tg__navigation {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	
}
.tg__title {
}
._tab-active {
font-weight: bold;
}
.tg__content {
}
.tg__body {
	padding-top: 10px;
	label{
		display: flex;
		
		cursor: pointer;
		font-size: 25px;
	}
}
.checkbox {
	margin-right: 5px;
}
.btn {
}
.popup__close {
}
@media (max-width:768px) {
	.first__row{
		padding-top: 50px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.first__bot{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img{
			border-radius:0;
			width: 400px;
			width: 100%;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		p{
			padding-bottom: 30px;
		}
	}
}
//====================================================================================================
	.uslugi{
		padding: 100px 0;
		
	}
	.uslugi__container {
		backdrop-filter: blur(1px);
	}

	.uslugi__title {
		
	}
	.tabs {
	}
	.tabs__navigation {
		font-size: 25px;
	}
	.tabs__body {
		img{
			max-height: 300px;
		}
		ul{
			padding-left: 30px;
		}
		li{
			list-style:disc;
			font-size: 23px;
			text-transform: capitalize;
			padding: 5px 0;

		}
	}
	.tabs__row{
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

//====================================================================================================
.why {
	background: #fd3b999a;
	padding-bottom: 100px;
	color: #fff;
	opacity: 0;
	transform: translateX(-100px);	
	transition: .5s;

}
._watcher-view{
	transition: .5s;
	transform: translateX(0px);	
	opacity: 1;
}
.why__title {
	padding-top: 50px;
}
.title {
}
.why__row {
	display: flex;
	justify-content: space-evenly;
}
.why__item {
	flex: 1 0 25%;

	text-align: center;
	p{
		padding-top: 20px;
		font-size: 25px;
	}
	img{
		border-radius: 10px;
		height: 200px;
	}
}
@media (max-width:$mobile) {
	.why__row{
		flex-wrap: wrap;
		.why__item {
			padding: 25px;
			flex: 1 0 50%;
		}		

	}
	
}
//====================================================================================================
.doctors {
	padding: 80px 0;
}
.doctors__container {
	background: #2d6fd167;
	backdrop-filter: blur(1px)
}
.doctors__title {
	padding-top: 20px;
}

.doctors__row {
}

.doc {
	.doc__navigation {
		img{
			width: 200px;
		}
		font-size: 25px;
		display: flex;
		
		justify-content: space-evenly;
	}
	.doc__title {
		flex: 1 0 33%;
		text-transform: uppercase;
		background: #2d6fd167;
		border: 3px solid #eeeeee83;
		padding:15px;
		border-radius: rem(5);
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
		height: 450px;
	}
	.doc__content {
		padding: rem(10) rem(15);
	}
	.doc__body {
	}
	._tab-active{
		color: #fff;
		background: #2d6ed1;
	}
}
.doc__body{
	span{
		color: #2d6ed1;
	}
	h2{
		padding: 30px 0;
		font-size: 25px;
		font-weight: bold;
	}
	h3{
		
		padding: 10px 0;
		font-size: 25px;
	}
	p{
		font-size: 20px;
	}
	ul{
		padding: 30px ;
		font-size: 25px;
		li{
			list-style:decimal;
			margin-left: 30px;
			padding-top: 10px;
			font-size: 20px;
		}
	}
}
.doc2__row{

	 a{
		img{
		padding-right: 10px;
		padding-top: 10px;
		width: 150px;
		height: 150px;
	}
}
}
.doc1__row{

	img{
		padding-right: 10px;
		padding-top: 10px;
		width: 150px;
		height: 150px;
		transform: rotate(-90deg);
	}
}
@media (max-width:$tablet) {
	.doc__navigation{
		flex-direction: column;		
		.doc__title{
			img{
				display: none;
			}

		}

	}
}
//====================================================================================================
.works{
background: #2d6fd151;
padding: 20px 0;
margin-bottom: 150px;
}
.works__slider{
	height: 300px;
}
.works__slide{
	img{
		padding: 20px;
		max-height:  250px;
	}
}
//====================================================================================================


.usluga {
	padding-top: 100px;
	padding-bottom: 300px;
}
.usluga__container {
	backdrop-filter: blur(1px);

}
.usluga__title {
font-size: 40px;
}
.usluga__mainBlock {
	cursor: default;
	padding: 50px;
	background: #fd3b9937;
	ol{
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		li{
			text-align: left;
			display: flex;
			justify-content: space-between;
			padding: 10px 5px ;
			&:hover{
				background: #fd3b9937;
			}
			&:has(ol){
				background: #fd3b9937;

			}
		}
		font-size: 30px;
		ul{
			width: 100%;
			li{
					
					
					padding-left: 20px;
					&:last-child{
						padding: 0;
						padding-left: 20px;

					}
			}
		
		}
		
	}
	
}
.usluga__doc{
	padding-top: 50px;
	display: flex;
	justify-content: space-evenly;
	img{
		height: 500px;
	}
	.doc1__row{
		display: flex;
		flex-direction: column;
		img{
			height: 200px;
		}
	}
	
	.p123{
		padding-top: 200px;
		margin-left: -300px;
	}
	.m123{
		padding-top: 300px;
		margin-left: -300px;

	}
	.k12{
		margin-left: 10px;
	}
}
@media (max-width:$mobile) {
		.usluga__title {
			font-size: 25px;
			}
			.usluga__mainBlock{
				padding: 5px;
				ol ul li{
					padding: 0;
					&:last-child{
						padding: 0;
					}
				 }
				li{
					text-align: left;
					font-size: 20px;
					padding-bottom: 10px;

				}
				 
				ol li{
					padding: 0;
					padding-bottom: 10px;

				}
			}
			.usluga__doc{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				
				.p123{
					padding: 0;
					margin: 0;
				}
				.m123{
					padding: 0;
					margin: 0;
				}
				.doc__body{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
}
//====================================================================================================

.oNas {
	padding-top: 50px;
}
.oNas__container {
	backdrop-filter: blur(1px);

}
.oNas__title {
padding-bottom: 250px;
}
.oNas__block {
	

}
.oNas__item {
	padding: 25px 0;
	margin: 0 auto;
	max-width: 1000px;
display: flex;
justify-content: space-between;
img{
	width: 200px;
	padding: 30px;
	background: #2d6ed1;
	border-radius: 30px;
}
h2{
	font-size: 30px;
	padding-bottom: 10px;
}
p{
	font-size: 20px;
}
}
@keyframes highlightText {
	0% { text-shadow: 0 0   5px  #5899fa; }
	100% { text-shadow: none; }
 }
@keyframes highlight {
	0% { box-shadow: 0 0 10px 10px #5899fa; }
	100% { box-shadow: none; }
 }
._scrolled{
	h2{
		animation: highlightText 2s ease-out;

	}
	p{
		animation: highlightText 2s ease-out;

	}
	img{
		animation: highlight 2s ease-out;

	}
}

.oNas__text {
	max-width: 500px;

}
.oNas__item-right {
	flex-direction: row-reverse;
	text-align: right;
}
.oNas__subTitle{
	padding: 100px 0;
}
@media (max-width:$mobile){
	.oNas__item{
		flex-direction: column;
		align-items: center;
		text-align: center;
		p{
			padding: 10px 0;
		}
	}
}
//====================================================================================================
.akcii {
}
.akcii__container {
}
.akcii__title {
	padding: 50px 0;
}
.akcii__cards {
	padding-bottom: 300px;
}
.akcii__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.akcii__item {
	border: 5px solid #fd3b9a;
	background: #fd3b9a;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	img{
		border-radius: 5px;
		max-height: 170px;
	}
	p{
		font-size: 25px;
		position: absolute;
		top: 0;
		left: 0;
		max-width: 220px;
		padding: 5px;
		span{
			font-weight: bold;
		}
	}
}
@media (max-width:$mobile){
	.akcii__item{
		img{
			max-height: 130px;
		}
	}
}